body {
    width: 100%;
    height: 1080px;
    background-color: #FFFFFF;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 0 77px;
}

.title-text {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

.main-stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.simple-title {
    position: relative;
    left: 319px;
    color: #333333;
    margin: 265px 10px 0 0;
    line-height: 95px;
    letter-spacing: -0.035em;
    font-size: 64px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
}

.simple-subtitle {
    text-align: left;
    position: relative;
    color: #4f4f4f;
    
    line-height: 36px;
    letter-spacing: -0.035em;
    font-size: 24px;
    font-style: normal;


}